// fonts ----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'Soulcraft';
  src: url('../fonts/Soulcraft.ttf') format('truetype');
}
$font-text: 'Montserrat', sans-serif;
$font-main: 'Soulcraft';


// colors ----------------------------------
$off-white: #F4F4F4;
$dark-color: #222222;
$light-color: white;
$brand-color: #FFB7C9;

// metrics -----------------------------------
$default-margin: calc(min(4rem, 4vw));
$default-double-margin: calc(min(8rem, 8vw));
$default-large-margin: calc(min(16rem, 32vw));

// overall ----------------------------------
@import "~bootstrap/scss/bootstrap";

html {
  overflow: scroll;
}

body {
  background-color: $off-white;
  margin: 0 $default-margin $default-margin;
}
