// fonts ----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'Soulcraft';
  src: url('../fonts/Soulcraft.ttf') format('truetype');
}
$font-text: 'Montserrat', sans-serif;
$font-main: 'Soulcraft';


// colors ----------------------------------
$off-white: #F4F4F4;
$dark-color: #222222;
$light-color: white;
$brand-color: #FFB7C9;

// metrics -----------------------------------
$default-margin: calc(min(4rem, 4vw));
$default-double-margin: calc(min(8rem, 8vw));
$default-large-margin: calc(min(16rem, 32vw));

// overall ----------------------------------
@import "~bootstrap/scss/bootstrap";

html {
  overflow: auto;
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: $off-white;
  margin: 0 $default-margin $default-margin;
}

// Text stroke on the outside
@mixin stroke-outside($size: 1px, $color: $dark-color) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}