@import "./../../assets/styles/styles.scss";

$nav-link-font-size: calc(min(20px, 3vw));

.Navbar {
  padding-left: 0;
  padding-right: 0;
  padding-top: calc(#{$default-margin} / 2);
  padding-bottom: calc(#{$default-margin} / 2);
  z-index: 10;
  color: $dark-color;
  padding-left: $default-margin;
  padding-right: $default-margin;
}

.navbar-toggler-icon {
  height: $nav-link-font-size;
  width: $nav-link-font-size;
  background-image: url(./../../assets/imgs/menu-icon.png)!important;
}

.navbar-toggler:focus {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.navbar-toggler {
  padding: 0;
  border: none;
  outline: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: $default-margin;
  padding-right: 0;
}

.navbar-collapse {
  padding-left: $default-margin;
  padding-right: 0;
}

.navbar-brand {
  font-size: $nav-link-font-size;
  color: $dark-color !important;
}

.nav-link {
  font-size: $nav-link-font-size;
  @include stroke-outside;
  color: $off-white !important;
}

.nav-link:hover {
  color: $brand-color !important;
}

.active {
  @include stroke-outside(0, $dark-color);
  -webkit-text-fill-color: $dark-color;
}
