@import "./../../assets/styles/styles.scss";

$nav-link-font-size: calc(min(20px, 3vw));

.NavBar {
  padding-left: $default-margin !important;
  padding-right: $default-margin !important;
  padding-top: calc(#{$default-margin} / 2) !important;
  padding-bottom: calc(#{$default-margin} / 2) !important;
  z-index: 10;
  color: $dark-color;
}

.RightNavlink, .LeftNavlink {
  padding: 0 !important;
  margin: 0 !important;
  font-size: $nav-link-font-size;
}

.RightNavlink {
  margin-left: $default-margin !important;
  @include stroke-outside;
  color: $off-white !important;
}

.navbar-toggler-icon {
  height: $nav-link-font-size !important;
  width: $nav-link-font-size !important;
  background-image: url(./../../assets/imgs/menu-icon.png)!important;
}

.navbar-toggler:focus {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.navbar-toggler {
  padding: 0 !important;
  border: none !important;
  outline: none !important;
}

.navbar-collapse {
  padding-left: $default-margin;
  padding-right: 0;
}

.nav-link:hover {
  color: $brand-color !important;
}

.active {
  @include stroke-outside(0, $dark-color);
  -webkit-text-fill-color: $dark-color;
}
