@import "./../../assets/styles/styles.scss";

$default-border: calc(min(0.1rem, 0.1vw));

.Contact {
  position: absolute;
  bottom: $default-margin;
  width: calc(100vw - 2 * #{$default-margin});
}

.row {
  padding-top: $default-margin;
  padding-bottom: $default-margin;
  font-size: $default-margin;
  line-height: $default-margin;
}

.col {
  padding: 0 !important;
}

.col-lg-1 {
  padding: 0 !important;
  text-align: right;
}

.Icons {
  width: $default-margin;
  height: $default-margin;
}

.Pinky {
  position: absolute;
  bottom: calc(0.381 * #{$default-margin});
  left: calc(100vw - 5.35 * #{$default-margin});
  height: calc(3.72 * #{$default-margin});
}

.Brand {
  color: $brand-color;
  @include stroke-outside();
}

.Light {
  color: $off-white;
  @include stroke-outside();
}

.Dark {
  color: $dark-color;
}

.ContactRow:hover {
  background-color: $dark-color;
  .Dark {
    color: $off-white !important;
  }
  .Brand {
    color: $off-white !important;
  }
  .Light {
    color: $pinky-color !important;
  }
}

.border-top.row {
  border-top: $default-border solid rgba(34, 34, 34, 0.8) !important;
}

.border-bottom.row {
  border-bottom: $default-border solid rgba(34, 34, 34, 0.8) !important;
}


a, a:hover, a:visited, a:link, a:active
{
  text-decoration: none !important;
}