@import "./../../assets/styles/styles.scss";

$contact-font-size: calc(min(4rem, 4vw));

.Contact {
  height: calc(100vh - #{$default-margin});
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.row {
  padding-top: $default-margin;
  padding-bottom: $default-margin;
  font-size: $contact-font-size;
  line-height: $default-margin;
}

.col {
  padding: 0 !important;
}

.col-lg-1 {
  padding: 0 !important;
  text-align: right;
}

.Icons {
  width: $default-margin;
  height: $default-margin;
}

.Pinky {
  position: absolute;
  bottom: calc(0.39 * #{$default-margin});
  left: calc(100vw - 5.3 * #{$default-margin});
  height: calc(3.67 * #{$default-margin});
}

.Brand {
  color: $brand-color;
  @include stroke-outside;
}

.Light {
  color: $off-white;
  @include stroke-outside;
}

.Dark {
  color: $dark-color;
}

.ContactRow:hover {
  background-color: $brand-color;
  .Brand {
    color: $off-white !important;
  }
  .Light {
    color: $brand-color !important;
  }
}

a, a:hover, a:visited, a:link, a:active
{
  text-decoration: none !important;
}