@import "./../../assets/styles/styles.scss";

.Header {
  position: relative;
  margin-top: $default-large-margin;
  margin-bottom: calc(#{$default-margin} - 1px); // 1px for border stroke
  z-index: 1;
}

#name-eliza, #name-zijin, #name-huang {
  fill: $dark-color;
}

#name-slash {
  paint-order: stroke;
  stroke: $dark-color;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: $off-white;
}