@import "./../../assets/styles/styles.scss";

$blurb-default-font-size: calc(0.8 * #{$default-margin});

.About {
    position: absolute;
    bottom: $default-margin;
    width: calc(100vw - 2 * #{$default-margin});
}

.Blurb {
    font-size: $blurb-default-font-size;
    line-height: $blurb-default-font-size;
    font-family: 'CMW90-Cut-Out-Linear';
}