@import "./../../assets/styles/styles.scss";

$blurb-default-font-size: calc(1 * #{$default-margin});

.About {
    height: calc(100vh - #{$default-margin});
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Blurb {
    font-size: $blurb-default-font-size;
    line-height: $blurb-default-font-size;
    font-family: 'CWCutOutLinear';
}