@import "./../../assets/styles/styles.scss";

$tag-horizontal-gap: calc(min(32px, 1vw));

.Content {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: calc(100vw - 2 * #{$default-margin} + #{$tag-horizontal-gap});
}