@import "./../../assets/styles/styles.scss";

$tag-horizontal-gap: calc(min(32px, 1vw));
$tag-vertical-gap: calc(min(54px, 3vw));
$label-font-size: calc(min(32px, 2.8vw));
$label-line-height: calc(min(40px, 3.3vw));
$label-horizontal-gap: calc(min(20px, 1vw));

.Content {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: calc(100vw - 2 * #{$default-margin} + #{$tag-horizontal-gap});
}

.Tags {
  text-align: center;
}

.Pill {
  max-height: 64px !important;
  padding: calc(min(12px, 0.8vw)) !important;
  margin-right: $tag-horizontal-gap !important;
  margin-bottom: $tag-horizontal-gap !important;
  border: calc(0.1 * #{$label-font-size}) solid $dark-color !important;
  box-sizing: border-box !important;
  border-radius: $default-border-radius !important;

  .Label {
    color: $dark-color !important;
    font-size: $label-font-size;
    line-height: $label-line-height;
    padding-left: $label-horizontal-gap;
    padding-right: $label-horizontal-gap;
  }
}

.Pill:active {
  background-color: $dark-color !important;
  box-shadow: none;
  .Label {
    color: $light-color !important;
  }
}

.Pill:hover {
  background-color: $brand-color !important;
  border-color: $dark-color !important;
  .Label {
    color: $dark-color !important;
  }
}

.Pill:active:focus {
  background-color: $dark-color !important;
  outline-offset: none !important;
  border-color: $dark-color !important;
  .Label {
    color: $light-color !important;
  }
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: $dark-color !important;
  border-color: $dark-color !important;
  outline: none !important;
}

.btn:focus {
  background-color: $dark-color !important;
  border-color: $dark-color !important;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
  .Label {
    color: $light-color !important;
  }
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none !important;
}

.row {
  margin: 0;
}