@import "./../../assets/styles/styles.scss";

.Marquee {
    width: calc(100vw - 2 * #{$default-margin});
    margin: $default-margin 0 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .Marquee span {
    display: inline-block;
    will-change: transform;
    font-size: calc(min(16px, 3vw));
    animation: marquee 42s linear infinite;
    -moz-animation: marquee 42s linear infinite; //Firefox
    -webkit-animation: marquee 42s linear infinite; //Chrome and Safari
    -o-animation: marquee 42s linear infinite; //Opera   
  }
  
  .MinorBlurb {
    @include stroke-outside;
    color: $off-white !important;
  }
  
  .Marquee:hover span {
    animation-play-state: paused;
  }
  
  .Marquee:hover span:nth-child(2) {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0%   {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
  }
  
  @-moz-keyframes marquee {
    0%   {-moz-transform: translate(0, 0);}
    100% {-moz-transform: translate(-100%, 0);}
  }
  
  @-webkit-keyframes marquee {
    0%   {-webkit-transform: translate(0, 0);}
    100% {-webkit-transform: translate(-100%, 0);}
  }
  
  @-o-keyframes marquee {
    0%   {-o-transform: translate(0, 0);}
    100% {-o-transform: translate(-100%, 0);}
  }
  
  /* Respect user preferences about animations */
  @media (prefers-reduced-motion: reduce) {
    .Marquee { 
      white-space: normal 
    }
    .Marquee span {
      animation: none;
      padding-left: 0;
    }
  }