@import "./../../assets/styles/styles.scss";

.Home {
  display: flex;
  flex-direction: column;
  color: $dark-color;
  font-family: $font-main;
}

$nav-link-font-size: calc(min(20px, 3vw));

.Navbar {
  padding-left: 0;
  padding-right: 0;
  padding-top: $default-margin / 2;
  padding-bottom: $default-margin / 2;
  z-index: 10;
  color: $dark-color;
  padding-left: $default-margin;
  padding-right: $default-margin;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: $default-margin;
  padding-right: 0;
}

.navbar-collapse {
  padding-left: $default-margin;
  padding-right: 0;
}

.navbar-brand {
  font-size: $nav-link-font-size;
}

.nav-link {
  font-size: $nav-link-font-size;
}

#active {
  -webkit-text-fill-color: $dark-color;
}

#inactive {
  -webkit-text-stroke: 1px $dark-color;
  -webkit-text-fill-color: $off-white;
}

.Header {
  position: relative;
  margin-top: $default-large-margin;
  margin-bottom: calc(#{$default-margin} - 1px); // 1px for border stroke
  z-index: 1;
}

#name-slash {
  paint-order: stroke;
  stroke: $dark-color;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: $off-white;
}

.Video {
  margin: 0;
}

.VideoPlayer {
  position: relative;
  height: calc((100vw - 2 * #{$default-margin}) / 16 * 9);
  overflow: hidden;
}

#video-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%,-50%);
  width: calc(100vw - 2 * #{$default-margin});
  z-index: 0;
}

$tag-horizontal-gap: calc(min(32px, 1vw));
$tag-vertical-gap: calc(min(54px, 3vw));
$label-font-size: calc(min(32px, 2.8vw));
$label-line-height: calc(min(40px, 3.3vw));
$label-horizontal-gap: calc(min(20px, 1vw));

.Content {
  position: absolute;
  padding: $default-margin 0 $default-margin;
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: calc(100vw - 2 * #{$default-margin} + #{$tag-horizontal-gap});
}

.Tags {
  margin-bottom: $tag-vertical-gap;
  text-align: center;
}

.Pill {
  max-height: 64px;
  padding: calc(min(12px, 0.8vw));
  margin-right: $tag-horizontal-gap;
  margin-bottom: $tag-horizontal-gap;
  border: calc(0.1 * #{$label-font-size}) solid $dark-color;
  box-sizing: border-box;
  border-radius: 48px;

  .Label {
    color: $dark-color;
    font-size: $label-font-size;
    line-height: $label-line-height;
    padding-left: $label-horizontal-gap;
    padding-right: $label-horizontal-gap;
  }
}

.Pill:active {
  background-color: $dark-color;
  box-shadow: none;
  .Label {
    color: $light-color;
  }
}

.Pill:hover {
  background-color: $brand-color;
  border-color: $dark-color !important;
  .Label {
    color: $dark-color;
  }
}

.Pill:active:focus {
  background-color: $dark-color !important;
  outline-offset: none !important;
  border-color: $dark-color !important;
  .Label {
    color: $light-color;
  }
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: $dark-color !important;
  border-color: $dark-color !important;
  outline: none !important;
}

.btn:focus {
  background-color: $dark-color !important;
  border-color: $dark-color !important;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
  .Label {
    color: $light-color;
  }
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none !important;
}

.row {
  margin: 0;
}